## Sesión 3 - Introducción a Python

### Estructuras de Datos /Colecciones en Python

#### Continuación - Operaciones con Listas

In [ ]:
#Nota: estas lineas de código te permiten activar que en tu ambiente no requieras escribir print() constantemente al imprimir
#uno o varios resultados
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#Definición de una lista vacia 
mi_lista = []
mi_lista

[]

In [3]:
#Añadimos el elemento numérico uno al final de la lista
mi_lista.append(1)
mi_lista

[1]

In [4]:
#Añadimos un string al final de la lista. 
mi_lista.append("Monty")
mi_lista

[1, 'Monty']

In [5]:
#Añadimos una variable booleana al final de la lista. 
mi_lista.append(True)
mi_lista

[1, 'Monty', True]

In [7]:
#Concatenar 2 listas
otra_lista = ['honda', 'vw','kia',10,20,30]
print(otra_lista + mi_lista)

['honda', 'vw', 'kia', 10, 20, 30, 1, 'Monty', True]

In [9]:
#guardar una lista dentro de otra lista
lista_ejemplo = [10,3.0,'Python', [2,4],'Data']
print(lista_ejemplo)

[10, 3.0, 'Python', [2, 4], 'Data']

¡Importante a Recordar! En Python el index inicia en 0

In [10]:
#Seleccionemos el primer elemento de la lita
mi_lista[0]

1

In [11]:
#Seleccionemos de segundo elemento en adelante
mi_lista[1:]

['Monty', True]

In [12]:
#Para obtener el ultimo elemento
mi_lista[-1]

True

In [13]:
#Para obtener el anteúltimo elemento
mi_lista[-2]

'Monty'

In [14]:
mi_lista.append('DataScience')
mi_lista

[1, 'Monty', True, 'DataScience']

In [15]:
#Para eliminar un elemento de la lista
del mi_lista[2]
mi_lista

[1, 'Monty', 'DataScience']

In [16]:
#Para eliminar una lista de memoria
del mi_lista

### Ejercicios en clase
1. Crea una lista de strings, puede ser del tema de tu preferencia. Por ejemplo: Carros, mascotas, postres,etc
2. Crea una lista de números enteros 
3. Crea una lista de números de punto flotante
4. Crea una lista que tenga strings, números enteros y flotantes
5. Toma la siguiente lista [10,3.0,'Python', [2,4],'Data','Science']:
    1. Obten el elemento 2 de la lista
    2. Obten el último elemento de la lista
    3. Elimina el elemento 2 de la lista
    4. Añade un elemento a la lista, del tipo que quieras
##### Realiza cada ejercicio en un bloque de código diferente

In [19]:
foods = ["Empanizado", "Carne asada", "Poc chuc"]
print(foods)

['Empanizado', 'Carne asada', 'Poc chuc']

In [21]:
integers = [1,2,3,4,5,6]
print(integers)

[1, 2, 3, 4, 5, 6]

In [23]:
floats = [2.3, 3.4, 5.6]
print(floats)

[2.3, 3.4, 5.6]

In [26]:
mix = foods + integers + floats
print(mix)

['Empanizado', 'Carne asada', 'Poc chuc', 1, 2, 3, 4, 5, 6, 2.3, 3.4, 5.6]

In [30]:
exercise5 = [10, 3.0, 'Python', [2,4], 'Data', 'Science']

In [37]:
exercise5[1]

[2, 4]

In [34]:
exercise5[-1]

'Science'

In [36]:
del exercise5[1]

In [40]:
exercise5.append('Testing append')
print(exercise5)

[10, [2, 4], 'Data', 'Science', 'Testing append', 'Testing append']

In [41]:
##Continuamos
#Modificación de una lista
#Con la siguiente lista vamos a Cambiar el tercer elemento 
lista_nombres = ['Ana','Julieta','Angel','Mario']

In [42]:
#Cambiamos el tercer elemento 
lista_nombres[2]='Micaela'
lista_nombres

['Ana', 'Julieta', 'Micaela', 'Mario']

In [43]:
#insertar un elemento en la posicion deseada
lista_nombres.insert(1, 'Perez')
lista_nombres

['Ana', 'Perez', 'Julieta', 'Micaela', 'Mario']

In [44]:
#voltear la lista
lista_nombres.reverse()
lista_nombres

['Mario', 'Micaela', 'Julieta', 'Perez', 'Ana']

In [46]:
#Para ordenar los elementos de una lista
lista_nombres.sort()
lista_nombres

['Ana', 'Julieta', 'Mario', 'Micaela', 'Perez']

In [47]:
otra_lista = ['Jessica','Angel',1,2.0,10,'Ana']

In [49]:
otra_lista.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
lista_nombres.remove('Perez')
lista_nombres

### Tuplas

1. Son una secuencia ordenada de elementos, donde los elementos no tienen que pertenecer al mismo tipo de variable. 
2. Las tuplas son inmutables: después de creadas no pueden ser modificadas. Se utilizan para la protección de sobreescritura en ciertas varibles. 
3. Son definidas mediante parentesis ().  
4. Podemos extraer un cierto elemento de ellas mediante el uso de corchetes [], pero la sobreescritura esta prohibida.

In [ ]:
#Vamos a crear una lista para observar la diferencia entre ambas
estructura_datos = [1,2]
type(estructura_datos)

In [ ]:
#Ahora vamos a crear una tupla, como ven son muy parecidas a las listas solo que se definen entre ()
mi_primer_tuple = tuple([1, 2])
mi_primer_tuple
type(mi_primer_tuple)

In [ ]:
#Aqui estoy creando otra tupla de ejemplo
otra_tuple = ('hola', 'mundo')
otra_tuple

In [ ]:
#Se pueden crear incluso sin los ()
tupla = 1,2,3

In [ ]:
#sin embargo al imprimir veremos que Python por default guarda entre ()
tupla

In [ ]:
#Aqui podemos validar que lo que creamos sin () es una tupla
type(tupla)

In [ ]:
#Extracción de un elemento de la tupla 
print(tupla[0])

In [ ]:
# Imposibilidad de redefinir un valor dentro de una tupla 
tupla[0] = 2