# Proyecto del primer módulo.

Sean bienvenidos al nuevo startup del momento llamado DataSense Inc.; ustedes han sido contratados como analistas de datos en el área de tecnología. En esta área ya hay 4 analistas encargados de otras áreas de la empresa por lo cual a ti te fue asignada la labor de analizar los datos del departamento de ventas; al llegar en tu primer día caes en cuenta que los empleados están usando diversas herramientas para realizar el análisis. Algunos utilizan Excel, otros utilizan Google Sheets pero ambas opciones son ya sea licencias personales o licencias ilegales; por lo tanto, su jefe les ha dicho que busquen una herramienta que pueda trabajar, editar y manipular estos archivos ya que la herramienta será implementada en toda la empresa. Mientras los otros 4 analistas debaten entre utilizar Excel o Sheets tu recuerdas haber visto que Python puede ser utilizado para analizar estos tipos de archivos; por lo tanto instalas Anaconda y comienzas a trabajar con los archivos fundamentales.

## Parte 1
En esta parte solo puedes utilizar Python vanilla (y el paquete csv para abrir el archivo Business Data.csv); aquí vas a demostrar tus conocimientos de Python básico.

In [2]:
import csv

1. Carga el archivo csv a Python usando código vanilla (no importes más paquetes).

In [3]:
with open('Business Data.csv') as file:
    reader = csv.reader(file)
    data = list(reader)
print(data)

[['\ufeffNombre', 'Edad', 'Sexo', 'Area', 'Posición', 'Sueldo'], ['Blanca Teresa Ortiz', '45', 'F', 'Tecnología', 'Developer', '25000'], ['Verónica Morales', '44', 'F', 'Tecnología', 'Administrador de DB', '24000'], ['Roberto Flores', '48', 'M', 'Ventas', 'Marketing', '16000'], ['Patricia Pérez', '42', 'F', 'Ventas', 'Gerente de Ventas', '40000'], ['Francisco Eduardo Torres', '43', 'M', 'Tecnología', 'Gerente de Tecnología', '41000'], ['María Valdez', '42', 'F', 'Ventas', 'Contaduría', '23000'], ['Ignacio Heriberto Rodríguez', '42', 'M', 'Ventas', 'Vendedor', '9000'], ['Edgar Jiménez', '38', 'M', 'Ventas', 'Gerente de Contaduría', '35000'], ['Liliana Díaz', '38', 'F', 'Tecnología', 'Developer', '24000'], ['Rebeca Vázquez', '38', 'F', 'Tecnología', 'Coordinación de DB', '28000'], ['Victor Kevin Flores', '37', 'M', 'Tecnología', 'Coordinador', '25000'], ['Georgina Zárate', '35', 'F', 'Ventas', 'Marketing', '16000'], ['Heriberto Mendoza', '36', 'M', 'Tecnología', 'Administrador de DB', '23000'], ['Miguel Gómez', '35', 'M', 'Ventas', 'Vendedor', '8750'], ['Bruno Álvarez', '36', 'M', 'Tecnología', 'Analista', '16000'], ['Rodrigo Felipe Montes', '35', 'M', 'Tecnología', 'Developer', '23000'], ['Adriana Martínez', '34', 'F', 'Ventas', 'Vendedor', '8750'], ['Luis Enrique Lazcón', '35', 'M', 'Tecnología', 'Analista', '15000'], ['Eduardo Treviño', '33', 'M', 'Ventas', 'Coordinador', '16000'], ['Ramiro Treviño', '28', 'M', 'Tecnología', 'Developer', '22000'], ['Lucía María González', '26', 'F', 'Tecnología', 'Analista', '13750'], ['María Ester Cuevas', '33', 'F', 'Ventas', 'Coordinador', '17000'], ['María Guadalupe Villarreal', '29', 'F', 'Ventas', 'Vendedor', '8500'], ['Patricia Reyes', '26', 'F', 'Tecnología', 'Analista', '13750'], ['Tadeo Gutierrez', '28', 'M', 'Ventas', 'Vendedor', '8300'], ['Nadia Rodriguez', '25', 'F', 'Tecnología', 'Analista', '13500'], ['Jorge Martínez ', '27', 'M', 'Ventas', 'Marketing', '14000'], ['Roberta Juárez', '27', 'F', 'Ventas', 'Contaduría', '18000'], ['Kevin Omar Carranza', '24', 'M', 'Tecnología', 'Administrador de DB', '20000'], ['Francisco Castañeda', '25', 'M', 'Ventas', 'Vendedor', '8000'], ['Juan Manuel Sandoval', '23', 'M', 'Tecnología', 'Analista', '13000'], ['Gilberto Manuel Potes', '21', 'M', 'Tecnología', 'Developer', '20000'], ['Felipe Torres', '21', 'M', 'Ventas', 'Vendedor', '7500'], ['Brenda Torres', '20', 'F', 'Tecnología', 'Developer', '19800'], ['Julissa Vázquez', '19', 'F', 'Ventas', 'Contaduría', '14000']]

2. Ahora explora tu objeto. Como es una lista de listas podemos acceder a 2 índices distintos.

In [4]:
#¿El primer índice nos da una columna del csv, o un reglón? 
# Un renglón

In [5]:
#¿Cuales son los nombres de las columnas del archivo csv?
headers = data[0]
print(f'Los nombres de las columnas son: {headers}')

Los nombres de las columnas son: ['\ufeffNombre', 'Edad', 'Sexo', 'Area', 'Posición', 'Sueldo']

In [6]:
#Corre el comando len sobre tu lista de listas. ¿Que significa el resultado? 
# Es la cantidad de renglones
data_len = len(data)
print(data_len)

36

In [7]:
#¿Cuál es la longitud de las listas dentro de este objeto? 
# 6
list_len = len(data[0])
print(list_len)

6

3. ¿Cuál es el tipo de datos que hay en cada columna? Strings ¿Hay alguna incongruencia? No

In [8]:
# Inspecciona la primera observación e imprime el tipo de dato en cada columna.
first_row_data = data[1]
print(first_row_data)
for field in first_row_data:
    print(f'El campo {field} es un {type(field)}')

['Blanca Teresa Ortiz', '45', 'F', 'Tecnología', 'Developer', '25000']
El campo Blanca Teresa Ortiz es un <class 'str'>
El campo 45 es un <class 'str'>
El campo F es un <class 'str'>
El campo Tecnología es un <class 'str'>
El campo Developer es un <class 'str'>
El campo 25000 es un <class 'str'>

4. En nuestros datos hay algunas palabras que llevan acento; sin embargo, cuando estamos tratando con el usuario hay ocasiones en las que puede cometer errores con estos acentos o puede ser que escriba la palabra sin mayúscula.

In [9]:
# ¿Como se llama el proceso de transformar palabras para agruparlas? 
# Normalizar

In [10]:
# Crea una función que reciba como argumento una palabra con mayúscula y acentos y que regrese la palabra con puras minúsculas y sin acentos. 
# Prueba la función con la palabra Esdrújula.
char_tildes = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
def normalize_string(chain):
    for tilde, normal in char_tildes:
        chain = chain.replace(tilde, normal)
    return chain.lower()

normalized = normalize_string('Esdrújula')
print(normalized)

esdrujula

5. Realiza una transformación a tu lista para que ahora el primer índice nos de una columna en lugar de un renglón.

In [11]:
cols = []
#for row in data:
#    for index in range(len(row)):
#        cols[index] = row
for row in zip(*data):
    cols.append(list(row))

6. Una vez hecha la transformación, extrae la columna de nombres de tu data. ¿Ves algo extraño en los nombres?

In [12]:
names = cols[0]
print(names)

['\ufeffNombre', 'Blanca Teresa Ortiz', 'Verónica Morales', 'Roberto Flores', 'Patricia Pérez', 'Francisco Eduardo Torres', 'María Valdez', 'Ignacio Heriberto Rodríguez', 'Edgar Jiménez', 'Liliana Díaz', 'Rebeca Vázquez', 'Victor Kevin Flores', 'Georgina Zárate', 'Heriberto Mendoza', 'Miguel Gómez', 'Bruno Álvarez', 'Rodrigo Felipe Montes', 'Adriana Martínez', 'Luis Enrique Lazcón', 'Eduardo Treviño', 'Ramiro Treviño', 'Lucía María González', 'María Ester Cuevas', 'María Guadalupe Villarreal', 'Patricia Reyes', 'Tadeo Gutierrez', 'Nadia Rodriguez', 'Jorge Martínez ', 'Roberta Juárez', 'Kevin Omar Carranza', 'Francisco Castañeda', 'Juan Manuel Sandoval', 'Gilberto Manuel Potes', 'Felipe Torres', 'Brenda Torres', 'Julissa Vázquez']

## Parte 2
Mientras sigues realizando pruebas en Python caes en cuenta de que esto es mucho más difícil de lo que recordabas; los objetos de listas no son los mejores para manipular estos datos y parece que el debate regresa a Excel y Sheets pero una busqueda en google te hace recordar que existen librerías gratuitas en Python que facilitan el análisis de datos. Decides instalar Numpy y Pandas y regresar a trabajar para ahora si poder realizar un análisis de tus datos.

### A partir de este punto ya podemos utilizar Numpy y Pandas, pero seguimos trabajando con el archivo Business Data.csv de forma exclusiva.

In [9]:
import numpy as np
import pandas as pd

7. Carga la base de datos anterior de un formato a un dataframe. Ya no tienes que utilizar la lista de listas.

In [10]:
data = pd.read_csv('Business Data.csv')
print(data)

                         Nombre  Edad Sexo        Area               Posición  \
0           Blanca Teresa Ortiz    45    F  Tecnología              Developer
1              Verónica Morales    44    F  Tecnología    Administrador de DB
2                Roberto Flores    48    M      Ventas              Marketing
3                Patricia Pérez    42    F      Ventas      Gerente de Ventas
4      Francisco Eduardo Torres    43    M  Tecnología  Gerente de Tecnología
5                  María Valdez    42    F      Ventas             Contaduría
6   Ignacio Heriberto Rodríguez    42    M      Ventas               Vendedor
7                 Edgar Jiménez    38    M      Ventas  Gerente de Contaduría
8                  Liliana Díaz    38    F  Tecnología              Developer
9                Rebeca Vázquez    38    F  Tecnología     Coordinación de DB
10          Victor Kevin Flores    37    M  Tecnología            Coordinador
11              Georgina Zárate    35    F      Ventas              Marketing
12            Heriberto Mendoza    36    M  Tecnología    Administrador de DB
13                 Miguel Gómez    35    M      Ventas               Vendedor
14                Bruno Álvarez    36    M  Tecnología               Analista
15        Rodrigo Felipe Montes    35    M  Tecnología              Developer
16             Adriana Martínez    34    F      Ventas               Vendedor
17          Luis Enrique Lazcón    35    M  Tecnología               Analista
18              Eduardo Treviño    33    M      Ventas            Coordinador
19               Ramiro Treviño    28    M  Tecnología              Developer
20         Lucía María González    26    F  Tecnología               Analista
21           María Ester Cuevas    33    F      Ventas            Coordinador
22   María Guadalupe Villarreal    29    F      Ventas               Vendedor
23               Patricia Reyes    26    F  Tecnología               Analista
24              Tadeo Gutierrez    28    M      Ventas               Vendedor
25              Nadia Rodriguez    25    F  Tecnología               Analista
26              Jorge Martínez     27    M      Ventas              Marketing
27               Roberta Juárez    27    F      Ventas             Contaduría
28          Kevin Omar Carranza    24    M  Tecnología    Administrador de DB
29          Francisco Castañeda    25    M      Ventas               Vendedor
30         Juan Manuel Sandoval    23    M  Tecnología               Analista
31        Gilberto Manuel Potes    21    M  Tecnología              Developer
32                Felipe Torres    21    M      Ventas               Vendedor
33                Brenda Torres    20    F  Tecnología              Developer
34              Julissa Vázquez    19    F      Ventas             Contaduría

    Sueldo
0    25000
1    24000
2    16000
3    40000
4    41000
5    23000
6     9000
7    35000
8    24000
9    28000
10   25000
11   16000
12   23000
13    8750
14   16000
15   23000
16    8750
17   15000
18   16000
19   22000
20   13750
21   17000
22    8500
23   13750
24    8300
25   13500
26   14000
27   18000
28   20000
29    8000
30   13000
31   20000
32    7500
33   19800
34   14000

8. ¿Cuantos hombres hay en la empresa, cuantas mujeres?

In [11]:
genders = data['Sexo'].value_counts()
print(genders)

M    19
F    16
Name: Sexo, dtype: int64

9. ¿Cuantas áreas distintas hay en la empresa; cuantos empleados hay por área?

In [12]:
areas = data['Area'].value_counts()
areas_count = areas.count()
print(f'Existen {areas_count} areas diferentes en la empresa')
print(areas)

Existen 2 areas diferentes en la empresa
Tecnología    18
Ventas        17
Name: Area, dtype: int64

10. ¿Como está la distribución de género en estas áreas, cuantos hombres y cuantas mujeres en cada área?

In [13]:
areas_genders = data.groupby(['Area', 'Sexo']).size()
print(areas_genders)

Area        Sexo
Tecnología  F        8
            M       10
Ventas      F        8
            M        9
dtype: int64

11. ¿Cuantas posiciones distintas hay dentro del área de Tecnología, cuantas hay en el área de Ventas?

In [14]:
areas_positions = data.groupby(['Area', 'Posición'])
areas_positions_count = areas_positions.size()
print(areas_positions_count)

Area        Posición
Tecnología  Administrador de DB      3
            Analista                 6
            Coordinación de DB       1
            Coordinador              1
            Developer                6
            Gerente de Tecnología    1
Ventas      Contaduría               3
            Coordinador              2
            Gerente de Contaduría    1
            Gerente de Ventas        1
            Marketing                3
            Vendedor                 7
dtype: int64

12. Hay alguna posición que tengan en común ventas y tecnología (que tengan exactamente el mismo nombre). ¿En caso de que si haya, cual?

In [15]:
areas_positions = data.groupby(['Area', 'Posición']).size()
tecnology_labels = areas_positions.Tecnología.index
sales_labels = areas_positions.Ventas.index

print(np.intersect1d(tecnology_labels, sales_labels))

['Coordinador']

13. ¿Cuál es el primer nombre más común en la empresa?

In [16]:
from collections import Counter
common_name = Counter(" ".join(data["Nombre"]).split()).most_common(1)
print(common_name)

[('María', 4)]

14. Revisa nuevamente el tipo de dato que hay en cada columna; si no corresponde, entonces transformalo al que sí corresponde.

In [17]:
types = data.dtypes
print(types)
string_columns = ['Nombre', 'Area', 'Posición', 'Sexo']
for col in string_columns:
    data[col] = data[col].astype('string')
print(types)

Nombre      object
Edad         int64
Sexo        object
Area        object
Posición    object
Sueldo       int64
dtype: object
Nombre      object
Edad         int64
Sexo        object
Area        object
Posición    object
Sueldo       int64
dtype: object

15. ¿Cual es la edad promedio en la empresa, cual es el sueldo promedio?

In [18]:
mean_age = data.Edad.mean()
print(f'La edad promedio es {mean_age}')
mean_salary = data.Sueldo.mean()
print(f'El sueldo promedio es {mean_salary}')

La edad promedio es 32.51428571428571
El sueldo promedio es 18502.85714285714

16. Ahora calcula el sueldo promedio por sexo.
- ¿Cuál sexo tiene mayor sueldo y cual es la diferencia entre los sueldos?

In [27]:
salary_sex = data.groupby('Sexo').Sueldo.mean()
print(salary_sex)
max_salary_sex = salary_sex.max()
print(f'El sueldo más alto lo tienen {"Mujeres" if salary_sex.idxmax(axis = 0) == "F" else "Hombres" } y es {max_salary_sex}')
difference = abs(salary_sex.diff())
print(f'La diferencia de sueldos es {difference.M}')

Sexo
F    19190.625000
M    17923.684211
Name: Sueldo, dtype: float64
El sueldo más alto lo tienen Mujeres y es 19190.625
La diferencia de sueldos es 1266.9407894736833

17. Calcula el sueldo promedio por área y el sueldo promedio por posición.

In [32]:
mean_salary_area = data.groupby('Area').Sueldo.mean()
print(f'El sueldo promedio por área es \n {mean_salary_area}')
mean_salary_position = data.groupby('Posición').Sueldo.mean()
print(f'El sueldo promedio por posición es \n {mean_salary_position}')

El sueldo promedio por área es
 Area
Tecnología    21100.000000
Ventas        15752.941176
Name: Sueldo, dtype: float64
El sueldo promedio por posición es
 Posición
Administrador de DB      22333.333333
Analista                 14166.666667
Contaduría               18333.333333
Coordinación de DB       28000.000000
Coordinador              19333.333333
Developer                22300.000000
Gerente de Contaduría    35000.000000
Gerente de Tecnología    41000.000000
Gerente de Ventas        40000.000000
Marketing                15333.333333
Vendedor                  8400.000000
Name: Sueldo, dtype: float64

18. ¿En base a la información anterior, que posición dirías que tiene el menor sueldo promedio de la empresa?

In [33]:
min_mean_salary_position = mean_salary_position.idxmin()
print(f'El menor sueldo lo tiene el {min_mean_salary_position}')

El menor sueldo lo tiene el Vendedor

19. El sueldo mostrado en la base de datos es el sueldo bruto (sin quitar impuestos) mensual; calcula 3 columnas adicionales en donde muestres
   - El sueldo bruto anual (suma 1/2 mes de sueldo como aguinaldo a los empleados)
   - Considerando las siguientes tasas de impuestos, calcula el sueldo neto anual (sueldo descontando impuestos, te recomiendo crear una función).
   - Una vez hecho lo anterior, crea una nueva columna de sueldo neto mensual.
   
   
   s < 100,000  10%
   
   100,000 < s <= 125,000 13%
   
   125,000 < s <= 150,000 15%
   
   150,000 < s <= 175,000 16%
   
   175,000 < s <= 200,000 17%
   
   200,000 < s <= 250,000 19%
   
   300,000 < s <= 350,000 21%
   
   350,000 < s <= 400,000 23%
   
   s > 400,000 25%

20. Ahora que tenemos los salarios netos (lo que el empleado termina recibiendo de forma mensual). ¿Como cambió el sueldo promedio por área, subió o bajó? Bajó

In [40]:
def calc_discount(salary):
    # Default value is 10%
    percentage = 0.1
    if salary <= 100000:
        percentage = 0.1
    if 100000 < salary and salary <= 125000:
        percentage = 0.13
    if 125000 < salary and salary <= 150000:
        percentage = 0.15
    if 150000 < salary and salary <= 175000:
        percentage = 0.16
    if 175000 < salary and salary <= 200000:
        percentage = 0.17
    if 200000 < salary and salary <= 250000:
        percentage = 0.19
    if 250000 < salary and salary <= 300000:
        percentage = 0.21
    if 300000 < salary and salary <= 350000:
        percentage = 0.23
    if 350000 < salary and salary <= 400000:
        percentage = 0.25
    if salary > 400000:
        percentage = 0.27
    return 1 - percentage
    
data['BrutoAnual'] = data.Sueldo * 12.5

yearly_net = lambda employe: employe.BrutoAnual * calc_discount(employe.BrutoAnual)
data['NetoAnual'] = data.apply(yearly_net, axis = 1) 

data['NetoMensual'] = data.NetoAnual / 12
print(data)

                         Nombre  Edad Sexo        Area               Posición  \
0           Blanca Teresa Ortiz    45    F  Tecnología              Developer
1              Verónica Morales    44    F  Tecnología    Administrador de DB
2                Roberto Flores    48    M      Ventas              Marketing
3                Patricia Pérez    42    F      Ventas      Gerente de Ventas
4      Francisco Eduardo Torres    43    M  Tecnología  Gerente de Tecnología
5                  María Valdez    42    F      Ventas             Contaduría
6   Ignacio Heriberto Rodríguez    42    M      Ventas               Vendedor
7                 Edgar Jiménez    38    M      Ventas  Gerente de Contaduría
8                  Liliana Díaz    38    F  Tecnología              Developer
9                Rebeca Vázquez    38    F  Tecnología     Coordinación de DB
10          Victor Kevin Flores    37    M  Tecnología            Coordinador
11              Georgina Zárate    35    F      Ventas              Marketing
12            Heriberto Mendoza    36    M  Tecnología    Administrador de DB
13                 Miguel Gómez    35    M      Ventas               Vendedor
14                Bruno Álvarez    36    M  Tecnología               Analista
15        Rodrigo Felipe Montes    35    M  Tecnología              Developer
16             Adriana Martínez    34    F      Ventas               Vendedor
17          Luis Enrique Lazcón    35    M  Tecnología               Analista
18              Eduardo Treviño    33    M      Ventas            Coordinador
19               Ramiro Treviño    28    M  Tecnología              Developer
20         Lucía María González    26    F  Tecnología               Analista
21           María Ester Cuevas    33    F      Ventas            Coordinador
22   María Guadalupe Villarreal    29    F      Ventas               Vendedor
23               Patricia Reyes    26    F  Tecnología               Analista
24              Tadeo Gutierrez    28    M      Ventas               Vendedor
25              Nadia Rodriguez    25    F  Tecnología               Analista
26              Jorge Martínez     27    M      Ventas              Marketing
27               Roberta Juárez    27    F      Ventas             Contaduría
28          Kevin Omar Carranza    24    M  Tecnología    Administrador de DB
29          Francisco Castañeda    25    M      Ventas               Vendedor
30         Juan Manuel Sandoval    23    M  Tecnología               Analista
31        Gilberto Manuel Potes    21    M  Tecnología              Developer
32                Felipe Torres    21    M      Ventas               Vendedor
33                Brenda Torres    20    F  Tecnología              Developer
34              Julissa Vázquez    19    F      Ventas             Contaduría

    Sueldo  BrutoAnual  NetoAnual   NetoMensual
0    25000    312500.0  240625.00  20052.083333
1    24000    300000.0  237000.00  19750.000000
2    16000    200000.0  166000.00  13833.333333
3    40000    500000.0  365000.00  30416.666667
4    41000    512500.0  374125.00  31177.083333
5    23000    287500.0  227125.00  18927.083333
6     9000    112500.0   97875.00   8156.250000
7    35000    437500.0  319375.00  26614.583333
8    24000    300000.0  237000.00  19750.000000
9    28000    350000.0  269500.00  22458.333333
10   25000    312500.0  240625.00  20052.083333
11   16000    200000.0  166000.00  13833.333333
12   23000    287500.0  227125.00  18927.083333
13    8750    109375.0   95156.25   7929.687500
14   16000    200000.0  166000.00  13833.333333
15   23000    287500.0  227125.00  18927.083333
16    8750    109375.0   95156.25   7929.687500
17   15000    187500.0  155625.00  12968.750000
18   16000    200000.0  166000.00  13833.333333
19   22000    275000.0  217250.00  18104.166667
20   13750    171875.0  144375.00  12031.250000
21   17000    212500.0  172125.00  14343.750000
22    8500    106250.0   92437.50   7703.125000
23   13750    171875.0  144375.00  12031.250000
24    8300    103750.0   90262.50   7521.875000
25   13500    168750.0  141750.00  11812.500000
26   14000    175000.0  147000.00  12250.000000
27   18000    225000.0  182250.00  15187.500000
28   20000    250000.0  202500.00  16875.000000
29    8000    100000.0   90000.00   7500.000000
30   13000    162500.0  136500.00  11375.000000
31   20000    250000.0  202500.00  16875.000000
32    7500     93750.0   84375.00   7031.250000
33   19800    247500.0  200475.00  16706.250000
34   14000    175000.0  147000.00  12250.000000

In [27]:
mean_net_salary_area = data.groupby('Area').NetoMensual.mean()
print(f'El sueldo neto promedio por área es')
print(mean_net_salary_area)

mean_brute_salary_area = data.groupby('Area').Sueldo.mean()
print(f'El sueldo bruto promedio por área es')
print(mean_brute_salary_area)

El sueldo neto promedio por área es
Area
Tecnología    17428.12500
Ventas        13250.67402
Name: NetoMensual, dtype: float64
El sueldo bruto promedio por área es
Area
Tecnología    21100.000000
Ventas        15752.941176
Name: Sueldo, dtype: float64

## Parte 3
Después de realizar tu análisis te comienzas a sentir con más tranquilidad; has podido calcular varios estadísticos relevantes para los empleados pero quieres poner tus habilidades a prueba. Vas con la gente encargada de la base de datos y les pides los archivos csv del departamento de ventas y decides realizar tu primer análisis exploratorio de datos de la empresa.

## A partir de este punto va a ser necesario usar los archivos csv restantes.

Los datos de transacciones representan todas las compras realizadas por los clientes en el último mes; en este caso tenemos los archivos Customer, Invoice, Product, Purchases y SellersID para que ustedes puedan tener información específica acerca de las compras.

21. ¿Cuantos clientes tiene la empresa en total; cuantos clientes tiene asignado cada vendedor?

In [45]:
import numpy as np
import pandas as pd
customers = pd.read_csv('Customer.csv')
unique_customers = customers.Cliente.nunique()
print(f'La cantidad de clientes úncos es: {unique_customers}')
#print(customers)
customers_by_seller = customers.groupby('Vendedor').size()
print(f'Los clientes agrupados por vendedor son: \n{customers_by_seller}')

La cantidad de clientes úncos es: 77
Los clientes agrupados por vendedor son:
Vendedor
V0001     9
V0002    13
V0003    13
V0004    10
V0005     4
V0006    16
V0007    12
dtype: int64

22. ¿Cuál es el número total de transacciones? Muestra cuantas compras ha realizado cada cliente.

In [46]:
purchases = pd.read_csv('Purchases.csv')
total_purchases = purchases.Factura.nunique()
print(f'El número todal de transacciones es {total_purchases}')
purchases_by_customer = purchases.groupby('Cliente')
print(f'Las ventas por cliente son ')
print(purchases_by_customer.size())

El número todal de transacciones es 950
Las ventas por cliente son
Cliente
C0001    10
C0002    13
C0003     9
C0004    14
C0005    10
         ..
C0073     9
C0074     8
C0075     8
C0076    14
C0077    17
Length: 77, dtype: int64

23. ¿Cuanto dinero ha gastado cada cliente en total?

In [50]:
invoices = pd.read_csv('Invoice.csv')
products = pd.read_csv('Product.csv')
products.rename(columns = {'Porcentaje de Ganancia':'Porcentaje'}, inplace = True) 
invoices = pd.merge(invoices, purchases, on='Factura')
invoices = pd.merge(invoices, products, on='Producto')

invoices['Subtotal'] = invoices.Precio * invoices.Cantidad
invoices['Ganancia'] = invoices.Subtotal * invoices.Porcentaje
totals = invoices.groupby(['Cliente', 'Porcentaje']).sum()
print(totals)

                    Cantidad   Precio  Subtotal    Ganancia
Cliente Porcentaje
C0001   0.23              84  5004.90  42041.16   9669.4668
        0.27              45  1811.70   8152.65   2201.2155
        0.32             161  2999.90  48298.39  15455.4848
        0.37             104   991.50  10311.60   3815.2920
        0.41             157  1335.00  20959.50   8593.3950
...                      ...      ...       ...         ...
C0077   0.23             140  8508.33  70068.60  16115.7780
        0.27              82  3079.89  14855.94   4011.1038
        0.32             255  5099.83  76497.45  24479.1840
        0.37             202  1685.55  20028.30   7410.4710
        0.41             209  2269.50  27901.50  11439.6150

[385 rows x 4 columns]

24. ¿Cuantas veces se ha vendido cada tipo de producto?

In [31]:
products_sold = invoices.groupby(['Producto', 'Porcentaje']).sum()
print(products_sold)

                       Cantidad    Precio    Subtotal      Ganancia
Producto   Porcentaje
Producto 1 0.32           14439  284990.5  4331555.61  1.386098e+06
Producto 2 0.27            4806  172111.5   870703.02  2.350898e+05
Producto 3 0.23            7622  475465.5  3814734.78  8.773890e+05
Producto 4 0.41           12306  126825.0  1642851.00  6.735689e+05
Producto 5 0.37           11320   94192.5  1122378.00  4.152799e+05

25. ¿Cuanto dinero ha generado cada vendedor? Ordena a los vendedores en orden de ganancias generadas.

In [60]:
sellers = pd.read_csv('SellersID.csv')
sales_by_seller = pd.merge(totals, customers,on='Cliente')
sales_by_seller = pd.merge(sales_by_seller, sellers, left_on='Vendedor',right_on='id')
sales_by_seller = sales_by_seller.groupby(['Vendedor','Nombre', 'Edad', 'Sueldo'], as_index=False).sum()
sales_by_seller = sales_by_seller.sort_values(by=['Subtotal','Ganancia'])

sales_by_seller['BrutoAnual'] = sales_by_seller.Sueldo * 12.5

sales_by_seller['NetoAnual'] = sales_by_seller.apply(yearly_net, axis = 1) 

sales_by_seller['NetoMensual'] = sales_by_seller.NetoAnual / 12

print(sales_by_seller)

  Vendedor                       Nombre  Edad  Sueldo  Cantidad    Precio  \
4    V0005              Tadeo Gutierrez    28    8300      2831   65572.2
3    V0004   María Guadalupe Villarreal    29    8500      6080  139644.5
0    V0001  Ignacio Heriberto Rodríguez    42    9000      6828  154216.1
6    V0007                Felipe Torres    21    7500      7785  177287.8
2    V0003             Adriana Martínez    34    8750      8359  189430.8
1    V0002                 Miguel Gómez    35    8750      8713  200359.5
5    V0006          Francisco Castañeda    25    8000      9897  227074.1

     Subtotal     Ganancia  BrutoAnual  NetoAnual  NetoMensual
4   654511.75  199395.3443    103750.0   90262.50    7521.8750
3  1432053.93  433701.6270    106250.0   92437.50    7703.1250
0  1577474.32  481779.0539    112500.0   97875.00    8156.2500
6  1820390.67  553733.5395     93750.0   84375.00    7031.2500
2  1953614.17  594056.7998    109375.0   95156.25    7929.6875
1  2032595.46  620109.3882    109375.0   95156.25    7929.6875
5  2311582.11  704649.6273    100000.0   90000.00    7500.0000

26. ¿Quien fue el mejor vendor, quien fue el peor?

In [56]:
best_seller = sales_by_seller.loc[sales_by_seller.Subtotal.idxmax()]['Nombre']
print(f'El mejor vendedor fue {best_seller}')
worst_seller =  sales_by_seller.loc[sales_by_seller.Subtotal.idxmin()]
worst_seller_name = worst_seller['Nombre']
print(f'El peor vendedor fue {worst_seller_name}')

El mejor vendedor fue Francisco Castañeda
El peor vendedor fue Tadeo Gutierrez

27. El archivo de ventas representan las ventas realizadas en el mes; considerando las ganancias y asumiendo que los únicos gastos son los de producción y el pago de sueldos.
- ¿De cuanto fue la ganancia o perdida mensual de la empresa?

In [57]:
subtotal = sales_by_seller.Ganancia.sum()
#salaries = sales_by_seller['Sueldo']
salaries = sales_by_seller.Sueldo.sum()
profit = subtotal - salaries
print(f'El total final del mes es: {profit}')
if (profit < 0):
    print('Perdida')
else:
    print('Ganancia')

El total final del mes es: 3528625.38
Ganancia

28. ¿Asumamos que corremos al vendedor de menor desempeño; cuanto cambia la ganancia o la perdida mensual?

In [58]:
new_profit = profit + worst_seller['NetoMensual'] - worst_seller['Ganancia']
profits_difference = new_profit - profit
print(f'La ganancia mensual tendría un cambio de {profits_difference} y sería de {new_profit}')

La ganancia mensual tendría un cambio de -191873.4693 y sería de 3336751.9107

29. ¿Este resultado les llamó la atención? Expliquen por qué y sugieran un cambio que realizarían si es que aplica.

In [59]:
#Sí me llamó la atención, puesto que a pesar de que el vendedor tiene un rendimiento bajo, si se despide
#tendríamos mayor pérdida a que si sigue trabajando.

# Parte 4
Después de cruzar tantas tablas y combinarlas una con otra vas con tu jefe y le presentas estos resultados; al inicio toma tu palabra con mucho escepticismo ya que no está muy familiarizado con Python pero al ver los resultados que presentas y al saber que la herramienta es gratuita menciona que está muy abierto a la posibilidad de implementar Python como la herramienta central del departamento de analistas. Te sientes satisfecho con tu labor aunque piensas que a lo mejor después le tienes que comentar que aunque Python es gratuito y poderoso alguna otra herramienta estadística o de BI nunca le ha hecho daño a nadie. Regresas a tu lugar de trabajo y antes de que te des cuenta te pones a pensar acerca del funcionamiento de tu base de datos; tomas una hoja de papel y te pones a escribir.

### Sección Teórica

La siguiente sección son una colección de preguntas teóricas; es decir, no tienes que programar para ello pero es necesario tener conocimiento de fondo. Toda la sección involucra temáticas de la semana de webscrapping y modelo de datos con un mayor énfasis en la parte de modelo de datos.

30. Analizando los datos que tenemos; plantea cuales son las entidades existentes.

In [ ]:
Las entidades existentes son: Customer, Seller, Purchase, Invoice, Product.

31. Por ahora solo nos vamos a enfocar en vendedores; en las entidades definidas escribe las propiedades de cada entidad.
32. Para cada entidad con sus propiedades escritas; marca (si aplica) las llaves primarias y las llaves foraneas.

In [43]:
%%html
<img src='images/entities2.png'>

33. Ahora recuerda las relaciones; identifica las relaciones one to one, one to many y many to many en esta base de datos.

In [47]:
%%html
<img src='images/relations.png'>
<h2>Las relaciones son</h2>
<ul>
    <li>One to One: Invoice/Product, Invoice/Purchase, Customer/Purchase </li>
    <li>One to Many: Seller/Customer </li>
    <li>Many to Many: Customer/Invoice </li>
</ul>

34. Con las propiedades derivadas; escribe el tipo de datos correspondiente a cada propiedad.

In [48]:
%%html
<img src='images/types.png'>

35. Con todo esto en mente; menciona alguna propiedad importante que puedes agregar a esta base de datos para sacarle más jugo a la data y menciona la entidad a la que pertenece.

In [ ]:
# Tablas de áreas y posiciones. Ciudad/Estado de los clientes (Para saber en qué lugar están comprando más.

36. Con esa propiedad menciona al menos una métrica relevante que puedes calcular y como esta puede terminar ayudando al negocio.

In [ ]:
# Máximo, Mínimo, para saber dónde se compran más los productos y dónde menos.